<!doctype html>
<script src="https://code.highcharts.com/stock/highstock.js"></script>
<script src="https://code.highcharts.com/modules/series-label.js"></script>
<div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
<script type="text/javascript">
  var chart_data = {{ highchart_json|tojson|safe }};
  var tooltip = {{ tooltip_json|tojson|safe}};
  var i;
  var j;
  var date;
  for (i = 0; i < chart_data.length; i++) {
    for (j = 0; j < chart_data[i].data.length; j++) {
      date = Date.parse(chart_data[i].data[j][0])
      chart_data[i].data[j][0] = date
      tooltip[chart_data[i].name][date] = tooltip[chart_data[i].name][j]
    }
  }

  Highcharts.stockChart('container', {
      title: {
          text: 'Glicko NESSA Rating'
      },
      yAxis: {
          title: {
              text: 'Rating'
          }
      },
      tooltip: {
          formatter: function() {
            var tooltips = [];
            var point;
            for (j = 0; j < this.points.length; j++) {
              point = this.points[j]
              tooltips.push("<b>" + point.series.name + "<b/><br />" + tooltip[point.series.name][this.x])
            }
            return tooltips
          }
      },
      colors: ['#6CF', '#39F', '#06C', '#036', '#000'],
      series: chart_data
  });
</script>
