<!doctype html>
<script src="https://code.highcharts.com/stock/highstock.js"></script>
<script src="https://code.highcharts.com/modules/series-label.js"></script>
<div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
<script type="text/javascript">
  var chart_data = {{ highchart_json|tojson|safe }};
  var i;
  var j;
  var date;
  for (i = 0; i < chart_data.length; i++) {
    for (j = 0; j < chart_data[i].data.length; j++) {
      date = Date.parse(chart_data[i].data[j][0])
      chart_data[i].data[j][0] = date
    }
  }

  Highcharts.stockChart('container', {
      title: {
          text: chart_data[0].name + " NESSA Rating"
      },
      yAxis: {
          title: {
              text: 'Rating'
          }
      },
      tooltip: {
          formatter: function() {
            var tooltips = [];
            var point;
            var change;
            var previous_value;
            for (j = 0; j < this.points.length; j++) {
              point = this.points[j]
              date =  Highcharts.dateFormat('%b %d, %Y', new Date(point.x))
              previous_value = point.series.points[point.point.index - 1].y
              change = (point.y - previous_value).toFixed(2)
              if(change>0) {
                change = "+" + change
              }
              tooltips.push("<b>" + date + "</b><br/>" + point.y.toFixed(2) + " (" + change + ")")
            }
            return tooltips
          }
      },
      colors: ['#6CF', '#39F', '#06C', '#036', '#000'],
      series: chart_data
  });
</script>
